@import url(style.css);

/* .header
{
width: 500px;
height: 60px;
color: orange;
background-color: #FFE08C;
display: inline-block;
} */

h1 {
text-align: center;
display: inline-block;
line-height: 60px;
font-size: 40px;
}

.maintitle
{
color: orange;
font-size: 50px;
text-align: center;
margin: 80px;
}

.list
{
display: inline-block;
margin: 50px;
text-align: center;
font-size: 15px;
}
.blank
{
font-size: 15px;
margin: 5px;
}
.login{
display: inline-block;
margin: 100px;
text-align: center;
font-size: 15px;
float: right;
}
.maingraphs
{
height: 100vh;
background: url(/img/graphs.gif) no-repeat center/cover;
}

.Explanation
{
margin: 60px;
font-size: 60px;
}

.jejutitle
{
font-size: 70px;
margin: 10px;
color: orange;
}

.button
{
margin: 30px;
font-family: 'Segoe UI';
font-size: 20px;
font-weight: bold;
line-height: 50px;
text-align: center;

box-sizing: border-box;
width: 100px;
height: 50px;
border-radius: 0 10px 0 10px;

background-color: orange;
}