
/* ==================header=================== */
header{
    border-bottom: 1px solid #FFA500;
}
header section{   
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    padding: 1em;
}
.logo{
    padding: 1em;
}
.img-logo{
    width: 5em;
}
section a{
    color: #0008;
    font-weight: bold;
}







/* ==================main================= */
.main-img-section{
    height: 54em;
    background: url(../images/flight.png) no-repeat center/cover;
}
.main-title{
    font-size: 5em;
    text-align: center;
    padding-top: 1em;
}
.main-div{
    padding-top: 10em;
    padding-left: 15em;
    padding-right: 15em;
}
.main-div .main-search{
    border: 2px solid;
    padding: 5em;
}
.search-option{
    display: flex;
    justify-content: space-between;
    pad
}
.search-option input{
    width: 30em;
    height: 3em;
}
.search-option button{
    width: 10em;
    height: 3em;
}