
/* ==================header=================== */
header{
    border-bottom: 1px solid #FFA500;
}
header section{   
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    padding: 1em;
}
.logo{
    padding: 1em;
}
.img-logo{
    width: 5em;
}
section a{
    color: #0008;
    font-weight: bold;
}



/* =======================main========================= */
.main-section{
    display: flex;
    justify-content: space-between;
    margin: 4em;

}
.main-title{
    font-size: 3em;
}
.box-search{
    width: 300px;
}
.btn-search{
    width: 4em;
    height: 2em;
    border: 1px solid black;
    border-radius: 0px 10px;
    background-color: #FFA500;
    border-color: #FFA500;
}
.write{
    margin-left: 200px;
}


.notice-section{
}
.notice-section div{
    display: flex;
    justify-content: space-between;
    
    padding-top: 2em;
}
.article-row-div{
    display: flex;
    justify-content: space-between;

}
.notice-section div article{
    border: 1px solid #FFA500;
    border-radius: 0px 10px;
    box-shadow: 2px 2px 4px #0005;
    width: 30%;
    height: 15em;
    
    margin-left: 3em;
    padding: 1em;
}
.notice-section div article:last-child{
    margin-right: 3em;
}
.page-select{
    text-align: center;
    padding-top: 50px;
}