
/* ==================header=================== */
header{
    border-bottom: 1px solid #FFA500;
}
header section{   
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    padding: 16px;
}
.logo{
    padding: 16px;
}
.img-logo{
    width: 80px;
}
section a{
    color: #0008;
    font-weight: bold;
}



/* =======================main========================= */
main{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.main-section{
}
.main-section div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-title{
    font-size: 48px;
}
.box-search{
    width: 300px;
}
.btn-search{
    width: 64px;
    height: 32px;
    border: 1px solid black;
    border-radius: 0px 10px;
    background-color: #FFA500;
    border-color: #FFA500;
}
.write{
    margin-left: 200px;
}


.notice-section{
}
.notice-section div{
    display: flex;
    justify-content: space-between;
    
    padding-top: 32px;
}
.article-row-div{
    display: flex;
    justify-content: space-between;

}
.notice-section div a{
    border: 1px solid #FFA500;
    border-radius: 0px 10px;
    box-shadow: 2px 2px 4px #0005;
    width: 30%;
    height: 260px;
    
    padding: 16px;
}
.notice-section div a:not(:first-child){
    border: 1px solid #FFA500;
    border-radius: 0px 10px;
    box-shadow: 2px 2px 4px #0005;
    width: 30%;
    height: 260px;
    
    margin-left: 32px;
    padding: 16px;
}
.notice-section div article:last-child{
    margin-right: 48px;
}
.page-select{
    text-align: center;
    padding-top: 20px;
}