@import url(style.css);
@import url(../result-item.css);
@import url(../select-ticket.css);


/* .item-container{
    background-color: gainsboro;
    max-width:85rem;
    height:95vh;
    margin-left: auto;
    margin-right: auto;    
} */