.body{
    margin: 10vh;
    margin: 10vw;

    padding: 3vh;
    padding: 5vw;

    border : 1px solid grey;
    border-radius: 0 30px 0 30px;

    box-shadow: 10px 10px;
    
}
.body-section{
    display: flex;
}
.body-container{
    width: 100%;
    height: 100%    ;
    display: block;
}
.body-container-1{
    width: 100%;
    height: 100%;   
    display: flex;
    /* flex-grow: 1; */
}
.body-info-q{
    line-height: 2vw;;
}
.body-info-q li{
    list-style: none;
    line-height: 3vw;
}
.body-info-a{

}
.body-info-a li{
    list-style: none;
    line-height: 3vw;
}

.main-container{
    margin: 3vh;
    display: flex;
}

.body-price-alarm{
    margin: 3vh;
}
.body-price-alarm input:last-child{
    height: 50px;
    position: relative;
    top: 13px;
}
.main-price{
    display: block;
    width: 300px;
}
.main-price-inf{
    list-style: none;
}
.main-price-inf li{
    line-height: 4vh;
    text-align: right;
}

.main-price-current{
    text-align: right;
}
.col-md-6{
    width: 100%;
}

