@import url(style.css);

.ticket{
    height:800px;
    background-color: skyblue;
}

.ticket-option{
    display:flex;
    align-items: center;
    position: relative;
    top: 150px;
    left: 700px;
}


.ticket-info{
    display:flex;
    align-items: center;
    position: relative;
    top: 200px;
    left: 500px;
}

.ticket-info div {
    margin-left: 30px;
    margin-right: 30px;
}


.ticket > div > div {
    font-weight: bold;
}

.submit-btn{
    position: relative;
    top: 50px;
    left: 20px;
}