body {
    /* background-color: #69a8fb; */

}
button {
    border: 0px;
    background-color: transparent;

}
.select-depart-day:before {
    content: "출발날";
    width: 100%;
}
/* .options::before{
    content: "출발날";
    width: 100%;
} */
input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
  }
  
input[type='date']:focus::before,
input[type='date']:valid::before {
display: none;
}

.top {
    /* background-color: rgb(84, 125, 188);     */
}
.inner {
    display: flex;
    margin: 0 auto;
    max-width: 95%;
    height: 58px;
    align-items: center;
}
.inner a {
    /* margin-left: 15px; */
}
.inner .logo {
    margin-right: 10px;
    height: 50px;
}
.inner .jejuro-logo {
    height: 100%;
    /* flex-basis: 10px; */
}
.inner .community {
    flex-basis: 150px;
    text-decoration-line: none;
    font-size: x-large;
    font-weight: bold;
    color: orange;

    /* height: 300px;     */
    /* flex-direction: row; */
    /* flex-grow: 1; */
    /* display: flex; */
    /* background-color: black; */
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
}
.inner .gnb-jejuro {
    display: flex;
    justify-content: flex-end;
    flex-basis: 200px;
    margin-left: auto;
    max-height: 50px;
}
.gnb-jejuro * a {
    text-decoration-line: none;
    font-size: large;
    color: orange;
}
.gnb-btn-login {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.gnb-btn-signin {
}
.back-img {
    /* 배경 이미지 */
    background-image: url("img/flight_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}
main {

    /* main 박스 쉐도우 */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(37,50,67,.18),0 1px 1px 0 rgba(37,50,67,.03);
}
.search-box {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 320px;
    max-width: 1400px;
    max-height: 400px;
    flex-direction: column;
    justify-content: center;
    flex-basis: 1090px;
    /* flex-wrap: wrap; */

    /* background-color: red; */
}

/* 토글 =============================================================*/
.toggle {
    display: flex;
    padding: 0px 30px;
    height: 80px;
    align-items: center;
    /* width: calc(100% - 60px) ; */
    margin-left: 30px;
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid #cfcfcf; */
    /* z-index: -1; */
    /* margin-top: 20px; */
}
/* .toggle :after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 13px;
    height: 1px;
    width: calc(100% * 5 + 15px); 
    border-bottom:1px solid gray;
  } */

#custom_input {
    display: none;
}

#custom_input + label.toggle_btn_label {
    position: relative;
    width: 12rem;
    height: 3rem;
}

#custom_input + label.toggle_btn_label > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background-color: #ccc;
    
    transition: all .4s;

}

#custom_input + label.toggle_btn_label > span:before {
    display: flex;
    position: absolute;
    height: 2.5rem;
    width: fit-content;
    padding: 0 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 20px;
    background-color: #fff;
    
    content: "왕복";
    align-items: center;
    font-weight: bold;
    color: rgb(29, 29, 29);

    -webkit-transition: all .4s;
    transition: all .4s;
}

#custom_input:checked + label.toggle_btn_label > span {
    background-color: black;
}

#custom_input:checked + label.toggle_btn_label > span:before {
    -webkit-transform: translateX(calc(11.5rem - 100%));
    -ms-transform: translateX(calc(11.5rem - 100%));
    transform: translateX(calc(11.5rem - 100%));
    right: 0.25rem;
    bottom: 0.25rem;
    content: "편도";
}

#custom_input:disabled + label.toggle_btn_label {
    display: none;
}
/* 토글======================================================== */

.search-box .tabpanel {
    display: flex;
    margin: 20px 30px;
    margin-top: 0px;
    padding: 20px 30px;
    padding-top: 40px;
    align-items: center;
    border-top: 1px solid #cfcfcf;
    flex-wrap: wrap;

}
.descrpition {
    display: flex;
    
}
.tabpanel .routes {
    display: flex;
    flex-direction: row;
    position: relative;
    /* flex-grow: 1; */
    flex-basis: 300px;
    /* align-items: center; */
}
.routes * b, i {
    font-style: inherit;
    text-align: justify;
}
.routes .departure-route {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 500;
    background-color: transparent;
}
.routes .swap {
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: #fff;
    border: 2px solid hsla(0,0%,80%,.3);

    /* position: absolute;
    top: 30px;
    left: 0;
    right: 0; */
}
.arrival-route > b {
    letter-spacing: 3px;

}
.routes button:not(.swap) {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 500;
    background-color: transparent;
    flex: 0 0 100px;
}
.tabpanel .options {
    display: flex;
    margin: 0 auto;
    margin-right: 50px;
    height: 50px;
    text-align: left;
    border-radius: 6px;
    flex-basis: 300px;
}
.options > button{
    font-weight: bold;
    font-size: large;
}
.options .select-depart-day {
    text-align: inherit;
    width: 100px;
    padding: 0 15px;
    color: #666;
    background-color: #f5f7f8;
    border: 1px solid hsla(0,0%,80%,.1);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 15px;
}
.options .select-arrive-day {
    text-align: inherit;
    width: 100px;
    padding: 0 15px;
    color: #666;
    background-color: #f5f7f8;
    border: 1px solid hsla(0,0%,80%,.1);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    flex-grow: 1;
    flex-basis: 0;
}
.tabpanel .search {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
    height: 50px;
    border: 2px solid hsla(0,0%,80%,.3);
    flex-basis: 100px;
    margin-right: 50px;
}
.search-txt {
}
