body {
    /* background-color: #69a8fb; */
    background-image: url("img/flight_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.inner {
    display: flex;
    margin: 0 auto;
    width: 1090px;
    height: 50px;
    align-items: center;
    background-color: orange;
}
.inner a {
    margin-left: 15px;
}
.inner .logo {
    margin-right: 10px;
}
.inner .jejuro-logo {
    height: 50px;
    /* flex-basis: 10px; */
}
.inner .community {
    /* height: 300px;     */
    /* flex-direction: row; */
    /* flex-grow: 1; */
    /* display: flex; */
    margin-right: 700px;
    /* background-color: black; */
}
.inner .gnb-jejuro {
    display: flex;
    align-items: center;
    /* background-color: skyblue; */

}
main {

    /* main 박스 쉐도우 */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(37,50,67,.18),0 1px 1px 0 rgba(37,50,67,.03);
}
.search-box {
    display: flex;
    margin: 0 auto;
    margin-top: 320px;
    width: 1090px;
    flex-direction: column;
    /* background-color: red; */
}

/* 토글 */
.toggle {
    display: flex;
    margin: 0px 30px;
    height: 80px;
    align-items: center;
    width: calc(100% - 60px) ;
    /* 1030px; */
    border-bottom: 1px solid #cfcfcf;
    /* z-index: -1; */
    /* margin-top: 20px; */
}
/* .toggle :after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 13px;
    height: 1px;
    width: calc(100% * 5 + 15px); 
    border-bottom:1px solid gray;
  } */

#custom_input {
    display: none;
}

#custom_input + label.toggle_btn_label {
    position: relative;
    width: 12rem;
    height: 3rem;
}

#custom_input + label.toggle_btn_label > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background-color: #ccc;
    
    transition: all .4s;

}

#custom_input + label.toggle_btn_label > span:before {
    display: flex;
    position: absolute;
    height: 2.5rem;
    width: fit-content;
    padding: 0 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 20px;
    background-color: #fff;
    
    content: "왕복";
    align-items: center;
    font-weight: bold;
    color: rgb(29, 29, 29);

    -webkit-transition: all .4s;
    transition: all .4s;
}

#custom_input:checked + label.toggle_btn_label > span {
    background-color: black;
}

#custom_input:checked + label.toggle_btn_label > span:before {
    -webkit-transform: translateX(calc(11.5rem - 100%));
    -ms-transform: translateX(calc(11.5rem - 100%));
    transform: translateX(calc(11.5rem - 100%));
    right: 0.25rem;
    bottom: 0.25rem;
    content: "편도";
}

#custom_input:disabled + label.toggle_btn_label {
    display: none;
}
/* 토글=================================== */

.search-box .tabpanel {
    display: flex;
    margin: 20px 30px;
    margin-left: 30px;
}
.tabpanel .routes {
    display: flex;
    flex-direction: row;
    margin-right: 500px;
}
.routes .departure-route {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    font-size: 35px;
    font-weight: 500;
}
.routes .arrival-route {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 500;
}
.tabpanel .options {
    display: flex;
    margin-right: 15px;
}
.options .select-depart-day {
    margin-right: 15px;
}
