body {
    /* background-color: #69a8fb; */

}
button {
    border: 0px;
    background-color: transparent;

}
.inner {
    display: flex;
    margin: 0 auto;
    max-width: 1090px;
    height: 50px;
    align-items: center;
    background-color: orange;
}
.inner a {
    /* margin-left: 15px; */
}
.inner .logo {
    margin-right: 10px;
    height: 50px;
}
.inner .jejuro-logo {
    height: 100%;
    /* flex-basis: 10px; */
}
.inner .community {
    flex-basis: 300px;

    /* height: 300px;     */
    /* flex-direction: row; */
    /* flex-grow: 1; */
    /* display: flex; */
    /* margin-right: 700px; */
    /* background-color: black; */
}
.inner .gnb-jejuro {
    flex-basis: 300px;

    display: flex;
    align-items: center;
    margin-left: auto;
    /* background-color: skyblue; */

}
.back-img {
    /* 배경 이미지 */
    background-image: url("img/flight_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0%;
    z-index: -1;
}
main {

    /* main 박스 쉐도우 */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
    box-shadow: 0 3px 9px 0 rgba(37,50,67,.18),0 1px 1px 0 rgba(37,50,67,.03);
}
.search-box {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: 320px;
    /* width: 1090px; */
    flex-direction: column;
    flex-basis: 1090px;
    /* background-color: red; */
}

/* 토글 */
.toggle {
    display: flex;
    padding: 0px 30px;
    height: 80px;
    align-items: center;
    width: calc(100% - 60px) ;
    /* 1030px; */
    /* border-bottom: 1px solid #cfcfcf; */
    /* z-index: -1; */
    /* margin-top: 20px; */
}
/* .toggle :after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 13px;
    height: 1px;
    width: calc(100% * 5 + 15px); 
    border-bottom:1px solid gray;
  } */

#custom_input {
    display: none;
}

#custom_input + label.toggle_btn_label {
    position: relative;
    width: 12rem;
    height: 3rem;
}

#custom_input + label.toggle_btn_label > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    background-color: #ccc;
    
    transition: all .4s;

}

#custom_input + label.toggle_btn_label > span:before {
    display: flex;
    position: absolute;
    height: 2.5rem;
    width: fit-content;
    padding: 0 1rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 20px;
    background-color: #fff;
    
    content: "왕복";
    align-items: center;
    font-weight: bold;
    color: rgb(29, 29, 29);

    -webkit-transition: all .4s;
    transition: all .4s;
}

#custom_input:checked + label.toggle_btn_label > span {
    background-color: black;
}

#custom_input:checked + label.toggle_btn_label > span:before {
    -webkit-transform: translateX(calc(11.5rem - 100%));
    -ms-transform: translateX(calc(11.5rem - 100%));
    transform: translateX(calc(11.5rem - 100%));
    right: 0.25rem;
    bottom: 0.25rem;
    content: "편도";
}

#custom_input:disabled + label.toggle_btn_label {
    display: none;
}
/* 토글=================================== */

.search-box .tabpanel {
    display: flex;
    /* margin: 20px 30px; */
    /* margin-left: 30px; */
    padding: 20px 30px;
    align-items: center;
    border-top: 1px solid #cfcfcf;

}
.tabpanel .routes {
    display: flex;
    flex-direction: row;
    position: relative;
    /* flex-grow: 1; */
    flex-basis: 300px;
    /* align-items: center; */
}
.routes .departure-route {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    font-size: 35px;
    font-weight: 500;
    background-color: transparent;
}
.routes .swap {
    width: 30px;
    height: 27px;
    margin: auto;
    /* position: absolute;
    top: 30px;
    left: 0;
    right: 0; */
}
.routes .arrival-route {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 500;
    background-color: transparent;
}
.tabpanel .options {
    display: flex;
    margin: 0 auto;
    margin-right: 50px;
    height: 50px;
    text-align: left;
    border-radius: 6px;
    flex-basis: 300px;
}
.options .select-depart-day {
    text-align: inherit;
    width: 100px;
    padding: 0 15px;
    color: #666;
    background-color: #f5f7f8;
    border: 1px solid hsla(0,0%,80%,.1);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    flex-grow: 1;
    flex-basis: 0;
}
.options .select-arrive-day {
    text-align: inherit;
    width: 100px;
    padding: 0 15px;
    color: #666;
    background-color: #f5f7f8;
    border: 1px solid hsla(0,0%,80%,.1);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    flex-grow: 1;
    flex-basis: 0;
}
.tabpanel .search {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;
    height: 50px;
    border: 2px solid hsla(0,0%,80%,.3);
    flex-basis: 100px;
    margin-right: 50px;
}
