@import url(/css/result.css);

.item-container{
    display: flex;
    flex-direction:column;
    align-items: center;
}



.result-item{
    display: grid;
    grid-template-columns: 1.3fr 3fr 1.5fr 4fr 2fr 1.3fr;
    grid-template-rows: minmax(3rem, 8rem);
    border-radius: 25px 25px 25px 25px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6.2px);
    font-size: 1rem;
    margin-top: 20px;
    transition: transform 0.2s 0.1s, box-shadow 0.2s 0.1s;
    width: 80%;
}

.result-item:hover{
    backdrop-filter: blur(0px);
    backdrop-filter: none;
    transform:scale(1.02,1.02);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

}

.airline + img{
    width:1rem;
    vertical-align: middle;
}

.result-items div{
    margin-top: 10px;
}

.result-item > div:nth-child(1){
    background:
        url(/images/airplane.svg) center/30% no-repeat;
    border-radius: 0 0 0 20px;
}

.result-item > div:nth-child(2){
    /* background-color:azure; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-item > div:nth-child(3){
    /* background-color:antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-item div:nth-child(4){
    margin: 0 auto;
    /* background-color:blue; */
    width: 90%;
    min-height: auto;
}

.price{
    margin: auto 0;
    font-size: 1.2rem;
    color:black;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.result-item div:nth-child(6){
    background:
        url(/images/magnifier.svg) center/30% no-repeat;
    /* background-color: thistle; */
}



/*

    집합 글, 댓글, 회원, 신고, 회원 리뷰, 댓글, 파일(사진)

*/